<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta name="theme-color" content="{{ site_manifest_theme_color }}">
<meta name="msapplication-TileColor" content="{{ site_manifest_theme_color }}">
<title>{{ page_title }}</title>
</head>
<body>
<h1 id="firstHeading">{{ page_title }}</h1>
{{ page_content }}
</body>
</html>
