<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta name="theme-color" content="#3b82f6">
<meta name="msapplication-TileColor" content="#3b82f6">
<title>{{ page.title }}</title>
</head>
<body>
<h1 id="firstHeading">{{ page.title }}</h1>
{{ page.content }}
</body>
</html>
